{% extends "base.html" %}
{% block content %}
<body class="bg-light">

<div class="container-fluid py-4">

    {% include 'home/nav.html' %}
    <div class="row">

        <div class="col-lg-9">

            {% include 'home/left/daily-goal.html' %}
            {% include 'home/left/weekly-bar.html' %}

        </div>
        <div class="col-lg-3">
              {% include 'home/right/goal.html' %}
              {% include 'home/right/suggest-exercise.html' %}
        </div>
    </div>
</div>

</body>
</html>
{% endblock content %}