{% load static %}
<!-- NutriLog Header -->
<div class="container-fluid py-2 shadow-sm bg-white">
  <div class="d-flex align-items-center justify-content-between">

    <!-- Left: Logo -->
    <div id="site-logo" class="d-flex align-items-center">
      <a href="{% url 'dashboard' %}">
        <img src="{% static 'img/img.png' %}" alt="NutriLog" width="150">
      </a>
      <a class="nav-link" href="{% url 'dashboard' %}">Nutri-Log</a>
    </div>

   <!-- Center: Navigation -->
<nav class="d-none d-lg-block">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link nav-box" href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-box" href="{% url 'food-log' %}">Food Log</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-box" href="{% url 'exercise-log' %}" >Exercise Log</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-box" href="#">Reports</a>
    </li>
  </ul>
</nav>


    <!-- Right: Search + Profile -->
    <div class="d-flex align-items-center">
      <!-- Search icon -->
      <a href="#" class="me-3 text-dark"><i class="bi bi-search fs-5"></i></a>

      <!-- User / Auth buttons -->
      {% if user.is_authenticated %}
      <div class="dropdown">
        <a class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="#" alt="Profile" width="35" height="35" class="rounded-circle me-2">
          <span>{{ user.username }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
      {% else %}
      <a href="#" class="btn btn-outline-primary btn-sm me-2">Sign In</a>
      <a href="#" class="btn btn-primary btn-sm">Sign Up</a>
      {% endif %}
    </div>

    <!-- Mobile toggler -->
    <button class="btn d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNav">
      <i class="bi bi-list fs-3"></i>
    </button>
  </div>

  <!-- Mobile Navigation -->
  <div class="collapse" id="mobileNav">
    <ul class="nav flex-column mt-2">
      <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Food Log</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Exercise Log</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
    </ul>
  </div>
</div>
