<!-- SUGGESTED EXERCISES -->
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Suggested Exercises</h5>

                    <ul class="list-group list-group-flush">
                        {% for exercise in suggested_exercises %}
                        <li class="list-group-item">
                            {{ exercise.name }}
                            <span class="badge bg-secondary float-end">
                                MET {{ exercise.met_value }}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>