<!-- DAILY GOAL SECTION -->
            <div class="row mb-4">

                <div class="col-md-4">
                    <div class="card shadow-sm text-center p-3">
                        <h6 class="text-muted">Daily Calorie Target</h6>
                        <h3>{{ daily_target }} kcal</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm text-center p-3">
                        <h6 class="text-muted">Calories Burned</h6>
                        <h3 class="text-success">{{ burned_today }} kcal</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm text-center p-3">
                        <h6 class="text-muted">Remaining</h6>
                        <h3 class="text-danger">{{ remaining }} kcal</h3>
                    </div>
                </div>

            </div>