<!-- DAILY GOAL SECTION -->
            <div class="row mb-4">

                <div class="col-md-4">
                    <div class="card shadow-sm text-center p-3">
                        <h6 class="text-muted">Today's Calorie Intake</h6>
                        <h3>{{ today_intake }} kcal</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm text-center p-3">
                        <h6 class="text-muted">Calories Burned</h6>
                        <h3 class="text-success">{{ burned_today }} kcal</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm text-center p-3">
                        <h6 class="text-muted">Target</h6>
                        <h3 >{{ daily_target }} kcal</h3>
                    </div>
                </div>
            {% include 'home/left/donut-bar.html' %}


            </div>
